
#in{font-family:monospace;background-color: rgb(0, 27, 0);color:rgb(0, 179, 0);border-style: solid;border-color:rgb(0, 68, 0);
    max-width: 314px; min-height: 50px; margin:10px;font-size: 30px;border-radius: 10px;}
h1{font-size:36px;color: white;margin-left: 40px;}
body{max-width: 340px;min-width: 340px; font-family:monospace;background-color: rgb(19, 112, 0);}
button{color:white; background-color: rgb(0, 77, 0);margin:10px;font-size:20px;text-align: center;min-width: 60px;
    min-height: 50px;border-radius: 10px;border-style:solid;border-color:rgb(0, 59, 3);font-family:monospace}
button:active{background-color: rgb(5, 58, 0);}
.row{display:flexbox;}
.numbtns{background-color:rgb(0, 150, 25);font-size: 32px;border-color:rgb(0, 77, 4)}
.numbtns:active{background-color: rgb(7, 80, 0);}
#equals{background-color: white;color:black;font-size: 22px;font-weight: bolder;}
#equals:active{background-color: rgb(180, 255, 180)}
footer{font-family: sans-serif;color:rgb(255, 255, 255);margin-top:10px}
#inputbar{font-family:monospace;background-color: rgb(255, 255, 255);color:rgb(0, 48, 0);border-style: solid;border-color:rgb(0, 68, 0);
    max-width: 314px; min-width: 314px; min-height: 25px; margin:0px 0px 0px 10px;font-size: 18px;border-radius: 10px;}
